.cta{
    padding: 180px 0;
    background:  linear-gradient(
        180deg,
        #242b33 10.42%,
        rgba(36, 43, 51, 0) 50.52%,
        #232b33 90.1%
    ),  
    url(/img/photo_2024-01-05_20-54-53.jpg), #c4c4c4;
    background-repeat: no-repeat ;
    min-height: 840px;
    background-size: cover;

    @include mediaTablet{
        padding: 60px 0;
    }
}

.cta__title{
    margin-bottom: 20px;

}

.cta__wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:30px;
    @include mediaTablet{
        grid-template-columns: 1fr;
    }
}

.cta__text{
    line-height: 1.5;
    @include mediaTablet{
        font-size: 14px;
    }
    
}

.cta__form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px 30px;
    @include mediaTablet{
        grid-template-columns: 1fr;
    }
}