.form__input{
    text-align: center;
    height: 50px;
    padding: 12px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    color:black;
    font-size: 14px;
    transition: backgraund-color 0.2s ease-in;


    &::placeholder{
        color:black;
    }
    &:focus{
        background-color: rgba(255, 255, 255, 0.3);
    }

}

.form__btn{
    background-color: #d48166;
    height: 50px;
    padding: 12px;
    font-size: 16px;
    color: $white;
    font-weight: 700;
    text-align: center;

    transition: backgraund-color 0.2s ease-in;

    &:hover{
        background-color: saturate($accent,10%);
    }

}
.form__privacy{
    font-size: 13px;
    color: black;
    text-align: center;
    line-height: 1.23;

    &--bottom{
        @include mediaTablet{
            grid-row:4/5
        }
    }
}
.footer__socials-telegram{
    height: 35px;
    width: 35px;
}